/* Modern CSS Reset - circa 2024/2025 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* end reset browser styles */


:root {
  font-family: PTSans, Arial, sans-serif;
  font-size: 62.5%;  /* This equals 10px */
}

.main h1 {
  color: rgb(249, 212, 120);
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 4.21em;  /* This equals 42.1px */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.75); /*a stands for alpha, which controls the opacity of the shadow. A value of 0.75 means the shadow is 75% opaque and 25% transparent.*/
}

.main h2 {
  font: normal 3.16em "Slabo 27px", Garamond, Times, serif; /* This equals 31.6px */
  color: rgb(37, 76, 143);
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-top: 25px;
}

.main h3 {
  color: rgb(241, 47, 6);
  font-size: 2.37em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
}

.main p {
  font-size: 1.8em;
  line-height: 1.5; /* This is spacing between lines of text. */
  margin-left: 150px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.main p::first-line {
  font-weight: bold;
  color: rgb(153, 153, 153);
}